/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

h3 {
  color: #333;
  margin-bottom: 5px;
}

p {
  color: #777;
  margin-bottom: 20px;
}

div.App > div {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
